{% extends "base.html" %}

{% block title %}
<h1>Equipe</h1>
{% endblock %}

{% block conteudo %}
<h2>Nossa Equipe</h2>
<ul>
    <li>Alex Brito - <a href="https://linkedin.com/in/joaosilva" target="_blank">LinkedIn</a></li>
    <li>Everton Fernandes - <a href="https://linkedin.com/in/mariaoliveira" target="_blank">LinkedIn</a></li>
    <li>Jasmin Cleide - <a href="https://linkedin.com/in/carlossouza" target="_blank">LinkedIn</a></li>
    <li>Sarah Barreto - <a href="https://linkedin.com/in/carlossouza" target="_blank">LinkedIn</a></li>
</ul>
{% endblock %}
